/* p.error{
    color: red;
}

p.success{
    color: green;
}

p.success.feedback{
    border: 2px dashed green;
}

div#content{
    background-color: rgb(223, 221, 221);
    padding: 20px;
} */

/* div p{
    color: purple;
}

div .error{
    color:rgb(2, 128, 150);
} */


/* should give it a link */
/* a[href="https//:www.facebook.com"]{
    color: rgb(0, 38, 255);
    background-color: rgb(255, 255, 255);
} */

/* just one word in this link */
/* a[href*="google"]{
    color: white;
    background-color: black;
} */

/* the end of this link */
/* a[href$=".asp"]{
    color: red;
    background-color: white;
} */

div{
    color: lightcoral;
    border: 1px solid grey;
    margin: 40px;
    font-weight: bold;
}

div p{
    border: inherit;
    margin: inherit;
    color: green;
}

p{
    color: blue;
}