h1{
    color: orange;
    background-color: slategray;
    font-size: 20px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
}

p{
    color: slategray;
    text-align: right;
    line-height: 20px;
    letter-spacing: 2px;
    column-count: 3;
    column-gap: 50px;
}

ul{
    border-bottom: 4px dotted crimson;
    border-left: 8px dashed #126801;
}

li{
    list-style-type: none;
    text-shadow: 2px 2px lightgray;
}