/* p.error{
    color: red;
}

p.success{
    color: green;
}

p.success.feedback{
    border: 2px dashed green;
}

div#content{
    background-color: rgb(223, 221, 221);
    padding: 20px;
} */

div p{
    color: purple;
}

div .error{
    color:rgb(2, 128, 150);
}